include ../mixins/flash-messages

doctype html
html
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		block meta
		title= title || 'Líderes sociales'
		link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")
		link(href="/styles/site.min.css", rel="stylesheet")
		link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
		link(rel="stylesheet", href="https://cdn.jsdelivr.net/gh/ddazal/align.css/dist/align.min.css")
		if user && user.canAccessKeystone
			link(href="/keystone/styles/content/editor.min.css", rel="stylesheet")
		block css
		block head

	body
		#wrapper.column
			header
				include ../blocks/nav
			main.item-fill.column
				block main
			footer
		if user && user.canAccessKeystone
			script(src='/keystone/js/content/editor.js')
		block js
