nav.topnav
  .container.topnav__content
    .topnav__brand.column.v-centered
      a.column.v-centered(href="https://www.datasketch.co/es"): img(src="/images/ds-logo.svg", alt="Logo Datasketch")
    //- .topnav__title Líderes sociales asesinados
    .topnav__helpers
      a(href="https://twitter.com/datasketch" rel="noopener noreferrer" target="_blank"): span.fa.fa-twitter
      a(href="https://www.facebook.com/datasketch/" rel="noopener noreferrer" target="_blank"): span.fa.fa-facebook
      a(href="https://www.instagram.com/datasketch/" rel="noopener noreferrer" target="_blank"): span.fa.fa-instagram