// @import "bootstrap/bootstrap.less";
@import url('https://fonts.googleapis.com/css?family=Maven+Pro|Patua+One');
@import "site/variables.less";

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  box-sizing: border-box;
  font-family: 'Maven Pro', sans-serif;
  font-size: 16px;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.background {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.button {
  background-color: #e6e6e6;
  color: rgba(0, 0, 0, 0.8);
  display: inline-block;
  padding: .5em 1em;
  text-decoration: none;
}

.button_blue {
  background: #3d83d1;
  color: #f4f4f4;
}

.button_orange {
  background: #c93d1b;
  color: #f4f4f4;
}

.button_yellow {
  background: #f8c439;
  color: #2a2a2a;
}

.text-center {
  text-align: center;
}

.container {
  margin: 0 auto;
  width: 95%;
}

.container_sm,
.container_xs {
  width: 95%;
}

.iframe-container {
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  position: relative
}

.iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 768px) {
  .container_sm {
    width: 70%;
  }
  .container_xs {
    width: 60%;
  }
}

@media screen and (min-width: 992px) {
  .container_sm {
    width: 60%;
  }
  .container_xs {
    width: 50%;
  }
}

// Layout styles
@import "site/layout.less";
// Blocks styles
@import "site/blocks/nav.less";
// Views styles
@import "site/views/index.less";
@import "site/views/post.less";
